<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav style="margin-bottom: 20px;">
        {% if user.is_authenticated %}
            <span>Welcome, {{ user.username }}!</span>

            <a href="{% url 'card-list' %}" style="margin-left: 10px;">
                Vault
            </a>

            <a href="{% url 'collection-graph' %}" style="margin-left: 10px;">
                Portfolio
            </a>

            <form method="post" action="{% url 'logout' %}" style="display:inline; margin-left: 10px;">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Register</a>
        {% endif %}
    </nav>


{% block content %}
{% endblock %}
</body>
</html>