{% extends "base.html" %}
{% block content %}
    <h2>Card List</h2>
    <p class="collection-total">
        <strong>Total collection value:</strong>
        ${{ total_value_usd|floatformat:2 }}
    </p>

    <form method="get" class="sort-form">
        <label for="sort"><strong>Sort:</strong></label>

        <select name="sort" id="sort" onchange="this.form.submit()">
            <option value="value_desc" {% if current_sort == "value_desc" %}selected{% endif %}>
                Price: High → Low
            </option>
            <option value="value_asc" {% if current_sort == "value_asc" %}selected{% endif %}>
                Price: Low → High
            </option>
            <option value="set_asc" {% if current_sort == "set_asc" %}selected{% endif %}>
                Set: A → Z
            </option>
            <option value="set_desc" {% if current_sort == "set_desc" %}selected{% endif %}>
                Set: Z → A
            </option>
        </select>
    </form>




    <div class="card-grid">
        {% for card in cards %}
            <div class="card-item">
                <h3>{{card.card_name}}</h3>

                {% if card.image_url %}
                    <br><img src="{{ card.image_url }}" alt="{{ card.card_name }}" width="200">
                {% endif %}

                {% if card.value_usd %}
                    <p><strong>Price:</strong> ${{ card.value_usd }} (as of {{ card.price_last_updated|date:"M d, Y" }})</p>
                {% else %}
                    <p><strong>Price:</strong> Not available</p>
                {% endif %}

                <div class="card-actions">
                    <a href="{% url 'card-update' card.pk %}">Update</a>
                    <a href="{% url 'card-delete' card.pk %}">Remove from vault</a>
                </div>

            </div>
        {% endfor %}
    </div>

    <a href="{% url 'card-create' %}">Add a card to your vault</a>

{% endblock %}