{% extends "base.html" %}
{% block content %}
    <h2>Card List</h2>
    <p class="collection-total">
        <strong>Total collection value:</strong>
        ${{ total_value_usd|floatformat:2 }}
    </p>

    <a href="?sort=value_desc">Sort by price: High to Low</a>
    <a href="?sort=value_asc">Sort by price: Low to High</a>
    <a href="?sort=set_asc">Sort by set: A → Z</a>
    <a href="?sort=set_desc">Sort by set: Z → A</a>


    <div class="card-grid">
        {% for card in cards %}
            <div class="card-item">
                <h3>{{card.card_name}}</h3>

                {% if card.image_url %}
                    <br><img src="{{ card.image_url }}" alt="{{ card.card_name }}" width="200">
                {% endif %}

                {% if card.value_usd %}
                    <p><strong>Price:</strong> ${{ card.value_usd }} (as of {{ card.price_last_updated|date:"M d, Y" }})</p>
                {% else %}
                    <p><strong>Price:</strong> Not available</p>
                {% endif %}

                <div class="card-actions">
                    <a href="{% url 'card-update' card.pk %}">Update</a>
                    <a href="{% url 'card-delete' card.pk %}">Remove from vault</a>
                </div>

            </div>
        {% endfor %}
    </div>

    <a href="{% url 'card-create' %}">Add a card to your vault</a>

{% endblock %}