{% extends "base.html" %}
{% block content %}
    <h2>Card List</h2>
    <ul>
        {% for card in cards %}
            <li>
                {{card.name}}
                {% if card.image_url %}
                    <br><img src="{{ card.image_url }}" alt="{{ card.name }}" width="200">
                {% endif %}

                {% if card.value_usd %}
                    <p><strong>Price:</strong> ${{ card.value_usd }} (as of {{ card.price_last_updated|date:"M d, Y" }})</p>
                {% else %}
                    <p><strong>Price:</strong> Not available</p>
                {% endif %}


                <a href="{% url 'card-update' card.pk %}">Update</a>
                <a href="{% url 'card-delete' card.pk %}">Remove from vault</a>

            </li>
        {% empty %}
            <li>No cards in vault</li>
        {% endfor %}
    </ul>

    <a href="{% url 'card-create' %}">Add a card to your vault</a>

{% endblock %}