name: Django CI

on:
  push:
    branches: [ main, feature/* ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Black (code formatter)
        run: black --check .

      - name: Run Pylint (code quality)
        run: pylint vault || true

      - name: Run Pytest
        env:
          DJANGO_SETTINGS_MODULE: cardvault.settings
        run: pytest -v
